flask
argon2-cffi
Authlib
pymysql
pocketflow 
mysql-connector-python
google-generativeai
dotenv
flask-cors 
google.generativeai 
langchain-community 
bs4
requests
feedparser
pandas
config 
urllib3
pypdf
python-docx
langchain-text-splitters
langchain-core
google 
google_auth_oauthlib
chromadb
